@import 'tailwindcss';
@import 'tailwindcss-animated';

* {
  overscroll-behavior: none;
}

/* Hide scrollbar */
#root {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar {
  display: none;
}

@theme {
  --shadow-base: 0 4px 16px rgba(5, 0, 56, 0.07);
}
